@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .dark-2{
    color: var(--Dark-02, #474747);

  }




/* sahared styles */
.text-primary{
    color: #FD6E0A;
}

/* cpmmon button setup */
.btn-primary{
    /* width: 120px; */
    height: 51px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 15px 28px;
    font-size: 16px;
    border: none;

}
/* common section title */
.section-title{
    font-size: 28px;
    font-weight: bold;
    color: var(--Dark-01, #181818);

}
.secondary-bg{
    background-color: #FFF8F3;

}
/* text alignment */
.text-center{
    text-align: center;
}



/* header */

.header{
    background-image: url(/portfolio-resources/images/developer_processed.png) ,url(/portfolio-resources/images/header_bg_processed.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size:;
    background-color: #FFF8F3;
}

/* Nav Syles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 185px;
}

.nav-title{
    font-weight: 800;
    font-size: 36px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 40px;
}
nav a{
    text-decoration: none;
    font-size: 16px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 31px 0 185px;
}


.banner-title{
    font-size: 36px;
    font-weight: 600;
    color: var(--Dark-02, #474747);

}
.banner-greetings{
    font-size: 68px;
}
.banner-description{
    color: var(--Dark-03, #757575);
    max-width: 470px;
    font-size: 15px;

}
.banner-profile-pic{
    width: 468px;
}

/* body portion */
.section-description{
    color: var(--Dark-03, #757575);
    /* max-width: 470px; */
    font-size: 15px;
    /* max-width: 662px; */

}
/* main styles */
main{
    max-width: 912px;
    margin: 0 auto;
}
main section{
    margin-top: 104px;
    margin-bottom: 104px;
}

/* description */
.description{
    color: var(--Dark-03, #757575);
font-family: "Open Sans";
font-size: 13px;
font-style: normal;
font-weight: 400;
}
/* title */
.title{
    color: var(--Dark-01, #181818);
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
}


/* about section styles */
.about{
    border-radius: 10px;
    padding: 104px 125px;
    text-align: center;
    margin-top: 104px;
    }
.about-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    color: var(--Dark-02, #474747);


}
.item-description{
    font-weight: 700;
}

/* skills section */
.skills-container{
    display: flex;
    gap: 20px;
    margin-top: 30px;

}
.skill{
    max-width: 214px;
    padding: 33px 27px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

